/* theme colors */
body {
    color: #c2ccd6; /* night-lightest */
    background: #182839 !important; /* night-med-dark */
}
#toolbarContainer, #toolbarSidebar, #sidebarContainer, .dialog, .secondaryToolbar, .findbar {
    background: #121e2b !important; /* night-dark */
}
.toolbarField, .horizontalToolbarSeparator, .verticalToolbarSeparator, .splitToolbarButtonSeparator {
    background: #060a0e; /* night-darkest */
}
.doorHanger::before, .doorHanger::after {
    border-bottom-color: #121e2b !important; /* night-dark */
}
.toolbarButton svg {
    fill: #c2ccd6; /* night-lightest */
}
.toolbarButton:not(:disabled):active svg, .toolbarButton.toggled svg {
    fill: #f6f7f9; /* gray-lightest */
}
.toolbarButton:not(:disabled):hover svg {
    fill: #ebf4ff; /* blue-primary-light */
}
#sidebarContent, #viewerContainer, .toolbarField, .horizontalToolbarSeparator, .verticalToolbarSeparator, .splitToolbarButtonSeparator {
    box-shadow: none !important;
}
#toolbarContainer, #toolbarSidebar {
    box-shadow: 0 0 0 1px #060a0e !important; /* night-darkest */
}
#sidebarContainer {
    box-shadow: inset 0 0 0 1px #060a0e !important; /* night-darkest */
}

#secondaryToolbarToggle {
    display: none !important;
}
#viewBookmark {
    display: none !important;
}
#openFile {
    display: none !important;
}

/* preview not available */
.preview-unavailable #viewerContainer {
    background-image: url("/images/unavailable.png");
    background-repeat: no-repeat;
    background-position: center;
}
